@font-face {
    font-family: JWerd;
    src: url('../fonts/JWerd.ttf');
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid #777;
}

.title {
    text-align: center;
}

#tooltip {
    visibility: hidden;
    position: absolute;
    padding: 5px 10px;
}

#tooltip-title {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#tooltip-body {
    border-top: 1px solid black;
    margin-top: 5px;
    text-align: center;
}

#tooltip-body p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#tooltip-body p:last-child {
    margin-bottom: 0px;
}